<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">

    <title>QR-Code Scanner</title>
  </head>
  <body>

<br>
<div class="">
  <a id="Links"></a>
  <br>
  <br>
</div>
<br>

<div class="">
  <button id="load" class="btn btn-secondary" onclick="loadTextFromLocalStorage()">Load</button>
  <button id="reset" class="btn btn-danger" onclick="resetList()">Reset List</button>
</div>

<div class="navbar">
  <button class="btn btn-secondary" onclick="window.location.href = 'list.html';">List</button>
  <button class="btn btn-secondary" onclick="window.location.href = 'index.html';">Scan</button>
  <button class="btn btn-secondary" onclick="window.location.href = 'generate.html';">Generate</button>
</div>




    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>





<script>

  function resetList() {

      let texts = [];



      // Save the updated array back to local storage
      localStorage.setItem('savedTexts', JSON.stringify(texts));
      loadTextFromLocalStorage();


  }


  // Function to load texts from local storage and display them as links
  function loadTextFromLocalStorage() {
    const savedTextsContainer = document.getElementById('Links');
    savedTextsContainer.innerHTML = ''; // Clear previous content

    const savedTexts = JSON.parse(localStorage.getItem('savedTexts'));

    if (savedTexts && savedTexts.length > 0) {
      // Loop through each saved text and create anchor tags to display them
      for (let i = 0; i < savedTexts.length; i++) {
        const text = savedTexts[i];

        // Create an anchor tag and set its text and href attributes
        const anchorTag = document.createElement('a');
        anchorTag.href = text;
        anchorTag.innerText = text;
        anchorTag.style.display = 'block'; // To display each text on a new line

        // Append the anchor tag to the container
        savedTextsContainer.appendChild(anchorTag);
      }
    } else {
      alert('No texts found in local storage!');
    }
  }

   function checkLocalStorage(key) {
    const value = localStorage.getItem(key);
    if (value) {
      console.log(`Value for key "${key}" exists in local storage: ${value}`);
      return true;
    } else {
      console.log(`Value for key "${key}" does not exist in local storage.`);
      return false;
    }
  }

</script>

<script>
        // Function to auto-click the button when the site is loaded
        function autoClickButton() {
            const button = document.getElementById('load');

            button.click();

        }

        // Register the function to be called when the site is loaded
        window.onload = autoClickButton();
</script>
